node_modules
.next
.git
.gitignore
README.md
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.pem
coverage
.vscode
.idea
*.swp
*.swo
*~
.storybook
storybook-static
vitest.config.ts
vitest.shims.d.ts
*.stories.tsx
*.stories.ts
.storybook
next-env.d.ts


